.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  font-size: 16px;
  height: auto;
  padding: 10px;*/
}

.form-horizontal .help-inline {
    padding-top: 7px;
}
.has-warning .help-inline {
  color: #c09853;
}
.has-error .help-inline {
  color: #b94a48;
}
.has-success .help-inline {
  color: #468847;
}

.http-error {
  margin: 100px 0;
}
@media screen and (max-width: 768px) {
  .http-error {
    margin: 10px 0;
  }
}
.http-error h1 {
  color: #b94a48;
  margin-bottom: 40px;
}

table .disabled {
  color: #ccc;
}

.popup-message {
    font-size: 200%;
}
.alert-icon {
    font-size: 300%;
    color: #b94a48;
}
.confirm-icon {
    font-size: 300%;
    color: #468847;
}

tr[next] {
    cursor:         grab;
    cursor: -webkit-grab;
    cursor:    -moz-grab;
}
body.grabbing * {
    cursor:         grabbing;
    cursor: -webkit-grabbing;
    cursor:    -moz-grabbing;
}

tr[md5].drag > td {
    padding-left: 0px;
    opacity: 0.4;
    background-color: #f5f5f5;  /* from .table > tbody > tr.active > td */
}
tr[md5].drop > td {}

table tr td[level] { padding-left: 100px; }
table tr td[level="0"] { padding-left: 10px;}
table tr td[level="1"] { padding-left: 20px; }
table tr td[level="2"] { padding-left: 30px; }
table tr td[level="3"] { padding-left: 40px; }
table tr td[level="4"] { padding-left: 50px; }
table tr td[level="5"] { padding-left: 60px; }
table tr td[level="6"] { padding-left: 70px; }
table tr td[level="7"] { padding-left: 80px; }
table tr td[level="8"] { padding-left: 90px; }

.monospace {
    font-family: monospace, serif;
}

.btn-add > .fa:before {
    content: "\f067";
}
.btn-remove > .fa:before {
    content: "\f068";
}

.navbar-brand, .navbar-text {
    margin-left: 0;
    margin-right: 0;
}

/* fix dropdown buttons in btn-groups */
.btn-group > .btn:first-child:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.btn-group > .btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.btn-group > .btn + .dropdown-toggle {
  padding: 6px 12px;
}
.btn-group .btn + .dropdown-menu,
.btn-group .dropdown-menu + .btn
{
  margin-left: -1px;
}


/* fix attachment preview tooltip*/
.tooltip-inner {
  max-width: 340px;
}

.nav-sm {
  font-size: 80%;
}
.nav-sm > .navbar-brand {
  padding: 5px 7px;
}
.nav--sm > li > a {
  padding: 5px 7px;
}

.red {
    background: red;
}

.attachments {
    height: 150px;
    overflow: auto;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.attachments > div > .row {
    width: 100%;
    padding-bottom: 2px;
    height: 40px;
    margin: auto;
}

.attachments > div >.row:nth-child(odd){
    background-color: #f9f9f9;
}
.attachments > div > .row > .text {
    padding-top: 10px;
}
.attachments > div > .row > .preview > div {
    height: 38px;
}

#list > div {
    height: 15em;
}

#list [itemprop=adr] {
    height: 14em;
    background-color: #F5F5F5;
    padding: 5px 10px 5px 10px;
    border-radius: 4px;
}

[itemprop=adr] > h3,
[itemprop=adr] > [itemprop=street-address],
[itemprop=adr] > [itemprop=locality],
[itemprop=adr] > [itemprop=region],
[itemprop=adr] > [itemprop=postal-code],
[itemprop=adr] > [itemprop=country-name] {
    padding-left: 15px;
    clear: both;
}


html, body {
  height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -40px;
}
#push, .footer {
    height: 40px;
}
