.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  font-size: 16px;
  height: auto;
  padding: 10px;*/
}

.form-horizontal .help-inline {
    padding-top: 7px;
}
.has-warning .help-inline {
  color: #c09853;
}
.has-error .help-inline {
  color: #b94a48;
}
.has-success .help-inline {
  color: #468847;
}

.http-error {
  margin: 100px 0;
}
@media screen and (max-width: 768px) {
  .http-error {
    margin: 10px 0;
  }
} 
.http-error h1 {
  color: #b94a48;
  margin-bottom: 40px;
}

table .disabled {
  color: #ccc;
}

.monospace {
    font-family: monospace, serif;
}

.btn-add > .glyphicon:before {
    content: "\2b";
}
.btn-remove > .glyphicon:before {
    content: "\2212";
}

.navbar-brand, .navbar-text {
    margin-left: 0;
    margin-right: 0;
}

html, body {
  height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -40px;
}
#push, .footer {
    height: 40px;
}
