.login-header {
    margin-bottom: 40px;
    text-align: center;
}
.login-form {
    margin-bottom: 40px;
}

@media (min-width: 992px) {
  .form-sign-up .sign-up-margin {
      margin-top: 66px;
  }
}
.form-sign-up .conditions {
    max-height: 30em;
    overflow: auto;
    margin-bottom: 1em;
}

.form-horizontal .help-inline {
    padding-top: 7px;
}
.has-warning .help-inline {
  color: #c09853;
}
.has-error .help-inline {
  color: #b94a48;
}
.has-success .help-inline {
  color: #468847;
}

.http-error {
  margin: 20px 0;
}
@media screen and (max-width: 768px) {
  .http-error {
    margin: 10px 0;
  }
}
.http-error h1 {
  color: #b94a48;
  margin-bottom: 40px;
}

table .disabled {
  color: #ccc;
}

a.disabled {
  color: #777;
  pointer-events: none;
}

.popup-message {
    font-size: 200%;
}
.alert-icon {
    font-size: 300%;
    color: #b94a48;
}
.confirm-icon {
    font-size: 300%;
    color: #468847;
}

tr[next] {
    cursor:         grab;
    cursor: -webkit-grab;
    cursor:    -moz-grab;
}
body.grabbing * {
    cursor:         grabbing;
    cursor: -webkit-grabbing;
    cursor:    -moz-grabbing;
}

tr[md5].drag > td {
    padding-left: 0px;
    opacity: 0.4;
    background-color: #f5f5f5;  /* from .table > tbody > tr.active > td */
}
tr[md5].drop > td {}

table tr td[level] { padding-left: 100px; }
table tr td[level="0"] { padding-left: 10px;}
table tr td[level="1"] { padding-left: 20px; }
table tr td[level="2"] { padding-left: 30px; }
table tr td[level="3"] { padding-left: 40px; }
table tr td[level="4"] { padding-left: 50px; }
table tr td[level="5"] { padding-left: 60px; }
table tr td[level="6"] { padding-left: 70px; }
table tr td[level="7"] { padding-left: 80px; }
table tr td[level="8"] { padding-left: 90px; }

pre.striped > *:nth-child(even) {
    background: white;
}

.monospace {
    font-family: monospace, serif;
}

.form-control::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #ccc;
}
.form-control::-webkit-input-placeholder {
  color: #ccc;
}

.btn-add > i , .btn-remove > i {
    line-height: 1.42857143;
}

.btn-add > .fa:before {
    content: "\f067";
}
.btn-remove > .fa:before {
    content: "\f068";
}

.navbar-header h1 {
    margin: 0;
}
.navbar-brand, .navbar-text {
    margin-left: 0;
    margin-right: 0;
}

/* fix dropdown buttons in btn-groups */
.btn-group > .btn:first-child:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.btn-group > .btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.btn-group > .btn + .dropdown-toggle {
  padding: 6px 12px;
}
.btn-group .btn + .dropdown-menu,
.btn-group .dropdown-menu + .btn
{
  margin-left: -1px;
}

.in-input {
    position: absolute;
    top: 5px;
    right: 5px;
}
.form-inline .in-input {
    position: relative;
    margin-left: -1em;
}

/* fix attachment preview tooltip*/
.tooltip-inner {
  max-width: 340px;
}

.nav-sm {
  font-size: 80%;
}
.nav-sm > .navbar-brand {
  padding: 5px 7px;
}
.nav-sm > .navbar-text {
  padding: 7px 7px;
  margin-top: 0px;
  font-size: 16px;
  line-height: 20px;
  height: 50px;
}

.nav--sm > li > a {
  padding: 5px 7px;
}

.sections .item {
    white-space: nowrap;
    overflow-x: hidden;
}

.menu-symbol { padding-right: 1.3em; }
.menu-symbol.fa { padding-right: 0.3em; }
.menu-symbol.fa-none:before { content: "\f500";}        /* looks like space */
.menu-symbol.fa-login:before {content: "\f1fa";}        /*fa-at*/
.menu-symbol.fa-admin:before {content: "\f085";}        /*fa-gears*/
.menu-symbol.fa-address:before {content: "\f003";}      /*fa-envelop-o*/
.menu-symbol.fa-files:before {content: "\f0c5";}        /*fa-files-o*/
.menu-symbol.fa-news:before {content: "\f1ea";}         /*fa-newspaper-o*/
.menu-symbol.fa-attachments:before {content: "\f0c6";}  /*fa-paperclip-o*/
.menu-symbol.fa-options:before {content: "\f085";}      /*fa-gears-o*/
.menu-symbol.fa-debug:before {content: "\f0f1";}        /*fa-stethoscope*/
.menu-symbol.fa-eshop-orders:before {content: "\f16b";} /*fa-dropbox*/
.menu-symbol.fa-eshop-store:before {content: "\f1b3";}  /*fa-cubes*/

.red {
    background: red;
}

.clear {
    clear: both;
}

.padding15 {
    padding-left: 15px;
}

.attachments {
    height: 150px;
    overflow: auto;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.attachments > div > .row {
    width: 100%;
    padding-bottom: 2px;
    height: 40px;
    margin: auto;
}

.attachments > div >.row:nth-child(odd){
    background-color: #f9f9f9;
}
.attachments > div > .row > .text {
    padding-top: 10px;
    white-space: nowrap;
    overflow: hidden;
}
.attachments > div > .row > .preview > div {
    height: 38px;
}

img.preview {
    max-width: 320px;
    max-height: 200px;
}

#list > div {
    height: 15em;
}

#list [itemprop=adr] {
    height: 14em;
    background-color: #F5F5F5;
    padding: 5px 10px 5px 10px;
    border-radius: 4px;
}

[itemprop=adr] > h3,
[itemprop=adr] > [itemprop=street-address],
[itemprop=adr] > [itemprop=locality],
[itemprop=adr] > [itemprop=region],
[itemprop=adr] > [itemprop=postal-code],
[itemprop=adr] > [itemprop=country-name] {
    padding-left: 15px;
    clear: both;
}

.eshop-list .item {
    /*min-height: 19em;*/
    background-color: #F5F5F5;
    padding: 5px 10px 5px 10px;
    border-radius: 4px;
    margin-bottom: 2em;
}

.eshop-list h4 {
    height: 2em;
}

.eshop-list .description {
    min-height: 6em;
    font-size: 80%;
    padding: 5px;
}

.eshop-list .image {
    height: 220px;
    line-height: 200px;
    text-align: center;
    padding-bottom: 10px;
}
.eshop-list .image img {
    max-height: 220px;
    max-width: 320px;
}

.eshop-list .buy {
}

.eshop-list .price {
    color: #CA424C;
    font-weight: bold;
    padding: 5px;
}

.eshop-item .itemlabel {
    width: 6em;
    float: left;
}
.eshop-item .image {
    height: 360px;
    line-height: 330px;
    padding-bottom: 0px;
    text-align: center;
}
.eshop-item .image img {
    max-width: 100%;
    max-height: 100%;
}
.eshop-item .price,
.eshop-item .count
{
    font-size: 130%;
    padding: 5px;
}
.eshop-item .price:hover,
.eshop-item .count:hover {
    background: #F5F5F5;
}

.eshop-item .buy {
    padding: 5px;
}
.eshop-item .buy input {
    width: 6em;
    margin-right: 1em;
    float: left;
}
.eshop-order-history > .col-md-12 {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 5px;
}


table[role=cart-items] .error {
    color: #b94a48;
}
table[role=cart-items] .price,
table[role=cart-items] .count {
    text-align: right;
}
table[role=cart-items] .actions {
    text-align: right;
}
table[role=cart-items] .fa-warning {
    margin-right: 5px;
}
table[role=cart-items] td.summary {
    text-align: right;
    font-weight: bold;
}

.spinner {
    position:fixed;
    left: 48%;
    top: 45%;
    font-size: 500%;
    display: none;
}

.popup-alert {
    position: fixed;
    top: 40%;
    left: 25%;
    width: 50%;
}

html, body {
  height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -40px;
}
#push, .footer {
    height: 40px;
}
