{% set title = _('Admin') -%}
{% include "_header.html" -%}
{% include "user/_menu.html" %}

    <div class="container sections">
    {%- for submenu in admin_sections if length(submenu) > 0 -%}
      <h2><a name="{{ submenu.label }}"></a>{{ submenu.label }}</h2>
      <div class="row">
      {%- for item in submenu %}
        <div class="col-md-4"><div class="well item">
          <a href="{{ item.uri }}" title="{{ (item.title or item.label)|e }}"><h3>
          {%- if item.symbol %}
            <i class="fa fa-{{item.symbol}} menu-symbol"></i>
          {%- else %}
            <i class="fa fa-none menu-symbol"></i>
          {%- endif -%}
          {{ _((item.label or item.title)|e) }}</h3></a>
        </div></div>
      {%- endfor %}
      </div>{# /row #}
    {%- endfor %}
    </div>
{% include "_footer.html" %}
