{% if site.this == '/admin/logins/add' -%}
    {% set title = 'Admin - edit login ' + item.email -%}
{% else -%}
    {% set title = 'Admin - new login' -%}
{% endif -%}
{% include "_header.html" -%}
{% include "user/_menu.html" %}
{% from "login/_error_message.html" import error_message %}

    <script src="/js/rights.js"></script>

    <div class="container">
      <div class="navbar-header">
      {% if site.this == '/admin/logins/add' -%}
        <h1>{{ _('New login') }}</h1>
      {% else -%}
        <h1>{{ _('Edit login') }}</h1>
      {% endif -%}
      </div>
        <ul class="nav nav-pills nav-sm">
    {% if site.this != '/admin/logins/add' -%}
      {%- if 'morias.login_addresses' in site.modules %}
        <li class="pull-right"> <a href="/admin/logins/{{ item.id }}/addresses">{{ _('Addresses') }}</a></li>
      {% endif -%}
        <li class="pull-right"><a href="/admin/logins/add">{{ _('New login') }}</a></li>
    {% endif -%}
        <li class="pull-right"><a href="/admin/logins">{{ _('Login list') }}</a></li>
      </ul>

    {% if state is defined and state is mask 64 -%}
      <div class="alert alert-info">{{ _('Password was set!') }}</div>
    {% endif -%}

      <form class="form-horizontal" role="form" method="post">
        <input type="hidden" name="token" value="{{ token }}">

        <div class="form-group {{ 'has-error' if error is defined and error is mask 1+8 else '' }}">
          <label for="input_email" class="col-sm-3 control-label">{{ _('Email') }}</label>
          <div class="col-sm-4">
            <input type="email" id="input_email" name="email" class="form-control" placeholder="{{ _('Email') }}" value="{{ (item.email or '')|e }}"></div>
        {% if error is defined and error is mask 1+8 %}
          <div class="col-sm-4 help-inline" >{{ error_message(error, 1) }}{{ error_message(error, 8) }}</div>
        {% endif %}
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">{{ _('Rights') }}</label>
          <div id="possible_rights" class="col-sm-4">
            <div>
              <label style="text-align: center;" class="control-label">{{ _('Possilbe rights') }}</label>
            </div>
          {% for right in rights|sort if right not in item.rights -%}
            <a class="pull-left btn btn-default btn-add" value="{{ right }}">
              <span class="pull-left">{{ right }}</span>
              <i class="pull-right fa"></i></a>
          {% endfor %}
             <div class="clearfix"></div>
          </div>
          <div id="attache_rights" class="col-sm-4">
            <div>
              <label style="text-align: center;" class="control-label">{{ _('Attache rights') }}</label>
            </div>
          {% for right in item.rights|sort -%}
            <a class="pull-left btn btn-default btn-remove" value="{{ right }}">
              <span class="pull-left">{{ right }}</span>
              <i class="pull-right fa"></i></a>
            <input type="hidden" value="{{right|e}}" name="rights">
          {% endfor %}
          </div>
        </div>

        <div class="form-group {{ 'has-error' if error is defined and error is mask 2 else '' }}">
          <label for="input_passwd" class="col-sm-3 control-label">{{ _('Password') }}</label>
          <div class="col-sm-4">
            <input type="password" id="input_passwd" name="passwd" class="form-control" placeholder="{{ _('Password') }}"></div>
        {% if error is defined and error is mask 2 %}
          <div class="col-sm-4 help-inline" >{{ error_message(error, 2) }}</div>
        {% elif site.this != '/admin/logins/add' %}
          <div class="col-sm-4 help-inline">{{ _('Fill it only, if you want to change.') }}</div>
        {% endif %}
        </div>

        <div class="form-group {{ 'has-error' if error is defined and error is mask 4 else '' }}">
          <label for="input_again" class="col-sm-3 control-label">{{ _('Password again') }}</label>
          <div class="col-sm-4">
            <input type="password" id="input_again" name="again" class="form-control" placeholder="{{ _('Password again') }}"></div>
        {% if error is defined and error is mask 4 %}
          <div class="col-sm-4 help-inline" >{{ error_message(error, 4) }}</div>
        {% endif %}
        </div>

        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-4">
            <button class="btn btn-default" type="submit">{{ _('Save') }}</button></div>
        </div>
      </form>

      <div class="row col-md-10 col-md-offset-1">
        <h3>{{ _('History') }}</h3>
        <div class="col-md-2"><b>{{ _('Time') }}</b></div>
        <div class="col-md-10">
          <div class="col-md-3"><b>{{ _('Values') }}</b></div>
        </div>{# /col-md-2 #}
      {%- for it in item.history %}
        <div class="col-md-12"></div>
        <div class="col-md-2">{{ datetime(it[0]).strftime("%H:%M %d.%m.%Y") }}</div>
        <div class="col-md-10">
        {%- for record in it[1:] %}
          <div class="col-md-3">{{ record }}</div>
        {% endfor %}
        </div>{# /col-md-2 #}
      {%- endfor %}
        <div class="col-md-12"><hr></div>
      </div>
      <div class="clearfix"></div>
    </div>

{% include "_footer.html" %}
