{% set title = 'Admin - logins' -%}
{% include "_header.html" -%}
{% include "user/_menu.html" %}

    <div class="container">

      <ul class="nav nav-pills">
        <li class="navbar-brand">{{ _('Logins list') }}</li>
        <li class="pull-right"><a href="/admin/logins/add">{{ _('New login') }}</a></li>
      </ul>

   {%- if error is defined and error == 1001 -%}
     <div class="alert alert-danger">{{ _('Access denied') }}</div>
   {%- endif %}

      <table class="table table-hover">
        <tr><th>#</th>
            <th>{{ _('Email') }}</th>
            <th>{{ _('Action' )}}</th></tr>
        {% for item in rows -%}
        <tr><td>{{ item.id }}</td>
            <td {{ 'class="disabled"' if not item.enabled else '' }}>{{ item.email }}</td>
            <td>
          {% if item.id != login.id -%}
              <a href="/admin/logins/{{ item.id }}">{{ _('Edit') }}</a>
             {%- if item.enabled %}
              / <a href="#" post="/admin/logins/{{ item.id }}/disable">{{ _('Disable') }}</a>
             {%- elif not item.enabled %}
              / <a href="#" post="/admin/logins/{{ item.id }}/enable">{{ _('Enabled') }}</a>
             {% endif -%}
          {% endif -%}
            </td>
        </tr>
        {%- endfor %}
      </table>
{% include "_pager.html" %}

      <script>
        $(document).ready(function() {
          // send form after click to links with post attribut
          $('a[post]').click(function() {
            $('<form/>',{'method':'post','action':$(this).attr('post')}).submit();
          });
        });
      </script>

    </div>
{% include "_footer.html" %}
