{% set title = 'Admin - logins' -%}
{% include "_header.html" -%}
{% include "admin/_menu.html" %}

    <div class="container">
      <h2 class="form-signin-heading">
        <span class="pul-l-left">{{ _('Logins list') }}</span>
      {% if check_right('login_create') -%}
        <span class="btn btn-default pull-right"><a href="/admin/login/add">{{ _('New login') }}</a></span>
      {% endif -%}
      </h2>

   {%- if error is defined and error == 1001 -%}
     <div class="alert alert-danger">{{ _('Access denied') }}</div>
   {%- endif %}

      <table class="table table-hover">
        <tr><th>#</th>
            <th>{{ _('Email') }}</th>
            <th>{{ _('Action' )}}</th></tr>
        {% for item in rows -%}
        <tr><td>{{ item.id }}</td>
            <td {{ 'class="disabled"' if not item.enabled else '' }}>{{ item.email }}</td>
            <td>
          {% if item.id != login.id -%}
            {% if check_right('login_edit') -%}
              <a href="/admin/login/mod?login_id={{ item.id }}">{{ _('Edit') }}</a>
            {% endif -%}
            {% if check_right('login_ban') -%}
             {%- if item.enabled %}
              / <a href="/admin/login/disable?login_id={{ item.id }}">{{ _('Disable') }}</a>
             {%- elif not item.enabled %}
              / <a href="/admin/login/enable?login_id={{ item.id }}">{{ _('Enabled') }}</a>
             {% endif -%}
            {% endif -%}
          {% endif -%}
            </td>
        </tr>
        {%- endfor %}
      </table>
{% include "_pager.html" %}

    </div>
{% include "_footer.html" %}
