{#- vim: tabstop=2 softtabstop=2 expandtab
#}
{% if site.this == '/admin/news/add' -%}
    {% set title = 'Admin - edit new ' + new.title -%}
{% else -%}
    {% set title = 'Admin - new new' -%}
{% endif -%}
{% include "_header.html" -%}
{% include "user/_menu.html" %}

    <div class="container">
      <ul class="nav nav-pills nav-sm">
    {% if site.this == '/admin/news/add' -%}
        <li class="navbar-brand">{{ _('New new') }}</li>
    {% else -%}
        <li class="navbar-brand">{{ _('Edit new') }}</li>
        <li class="pull-right"><a href="/admin/news/add">{{ _('New new') }}</a></li>
    {% endif -%}
        <li class="pull-right"><a href="/admin/news">{{ _('News list') }}</a></li>
      </ul>

      <form class="form-horizontal" role="form" method="post">
        <div class="form-group">
          <label for="input_title" class="col-sm-1 control-label">{{ _('Title') }}</label>
          <div class="col-sm-11 {{ 'has-error' if error is defined and error == 1 else '' }}">
            <input type="text" id="input_title" name="title" class="form-control" placeholder="{{ _('Title') }}" required="required" value="{{ (new.title or '')|e }}">
            {% if error is defined and error == 1 %}<div class="help-inline" >{{ _('Empty title') }}</div>{% endif %}
          </div>
        </div>

        <div class="form-group">
          <label for="input_locale" class="col-sm-1 control-label">{{ _('Locale') }}</label>
          <div class="col-sm-5">
            <input type="text" id="input_locale" name="locale" class="form-control" placeholder="{{ _('Locale') }}" value="{{ (new.locale or '')|e }}">
          </div>
          <label for="input_state" class="col-sm-1 control-label">{{ _('State')}}</label>
          <div class="col-sm-2">
            <select id="input_state" class="form-control" name="state">
              <option value="0" {{ 'selected="selected"' if new.state == 0 else '' }}>{{ _('Disable') }}</option>
              <option value="1" {{ 'selected="selected"' if new.state == 1 else '' }} {{ 'disabled="disabled"' if new.public_date.year > 1970 else '' }}>{{ _('Draft') }}</option>
              <option value="2" {{ 'selected="selected"' if new.state == 2 else '' }}>{{ _('Ready to public') }}</option>
            </select>
          </div>
          <div class="col-sm-1">
          {% if new.public_date.year > 1970 and new.state > 0 -%}
            <i style="font-size: 200%;" title="{{ _('Public') }}" class="fa fa-eye"></i></div>
          {% else -%}
            <i style="font-size: 200%;" title="{{ _('Not Public') }}" class="fa fa-eye-slash"></i></div>
          {% endif -%}
          <div class="col-sm-2"><button class="btn btn-default btn-block" type="submit">{{ _('Save') }}</button></div>
        </div>

        <div class="form-group {{ 'has-error' if error is defined and error == 2 else '' }}">
          <div class="col-sm-12">
            {% include "_wysiwyg.html" %}
            <textarea id="input_body" data-source="#editor" name="body" class="form-control" rows="10">{{ (new.body or '')|e }}</textarea>
            {% if error is defined and error == 2 %}<div class="help-inline" >{{ _('Empty body') }}</div>{% endif %}
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-2 col-sm-offset-8">
          {% if check_right('news_editor') and new.public_date.year == 1970 -%}
            <button class="btn btn-default btn-block" type="submit" name="public" value="1">{{ _('Save and Public') }}</button>
          {% endif -%}
          </div>
          <div class="col-sm-2 col-sm-off-set-10"><button class="btn btn-default btn-block" type="submit">{{ _('Save') }}</button></div>
        </div>
      </form>
      {% if site.this != '/admin/news/add' -%}
        {% set attachments_object_type = 'new' %}
        {% set attachments_object_id = new.id %}
        {% include "admin/_attachments_upload.html" %}
      {% endif -%}
    </div>
{% include "_footer.html" %}
