{% set title = 'Admin - news' -%}
{% include "_header.html" -%}
{% include "user/_menu.html" %}

    <div class="container">
      <ul class="nav nav-pills nav-sm">
        <li class="navbar-brand">{{ _('News list') }}</li>
        <li {{ 'class="active"' if not show else ''}}><a href="/admin/news">{{ _('All') }}</a></li>
        <li {{ 'class="active"' if show == 'ready' else ''}}><a href="/admin/news?show=ready">{{ _('Ready to Public') }}</a></li>
        <li {{ 'class="active"' if show == 'drafts' else ''}}><a href="/admin/news?show=drafts">{{ _('Drafts') }}</a></li>

      {% if match_right(('news_author', 'news_editor')) -%}
        <li class="pull-right"><a href="/admin/news/add">{{ _('New new') }}</a></li>
      {% endif -%}
      </ul>

{%- from "_orderby.html" import orderby with context %}
      <table class="table table-hover">
        <tr><th>#</th>
            <th>{{ orderby(_('Title'), 'title', 'asc') }}</th>
            <th>{{ _('Author') }}</th>
            <th>{{ orderby(_('Locale'), 'locale', 'asc') }}</th>
            <th>{{ orderby(_('Create time'), 'create_date', 'desc') }}</th>
            <th>{{ orderby(_('Publicated'), 'public_date', 'desc') }}</th>
            <th>{{ _('Action' )}}</th></tr>
        {% for new in rows %}
        <tr {{ 'class="disabled"' if new.state == 0 else '' }}><td>{{ new.id }}</td>
            <td  >
                <a href="/news/{{new.id}}">{{ new.title }}</a>
            </td>
            <td>{{ new.author or '' }}</td>
            <td>{{ new.locale }}</td>
            <td>{{ new.create_date.strftime("%H:%M %d.%m.%Y") }}</td>
            <td>
            {% if new.public_date.year > 1970 -%}
              {{ new.public_date.strftime("%H:%M %d.%m.%Y") }}
            {% elif new.state == 2 -%}
              <i style="font-size: 100%;" title="{{ _('Ready to public') }}" class="fa fa-thumbs-o-up"></i>
            {% endif -%}
            </td>
            <td>
            {% if check_right('news_editor') or (check_right('news_author') and new.author_id == login.id and new.public_date.year == 1970) -%}
              <a href="/admin/news/{{ new.id }}">{{ _('Edit') }}</a>
             {%- if new.state in (1, 2) %}
              / <a href="#" post="/admin/news/{{ new.id }}/disable">{{ _('Disable') }}</a>
             {%- elif new.state == 0 %}
              / <a href="#" post="/admin/news/{{ new.id }}/enable">{{ _('Enable') }}</a>
             {% endif -%}
            {% endif -%}
            </td></tr>
        {% endfor %}
      </table>
{% include "_pager.html" %}

      <script>
        $(document).ready(function() {
          // send form after click to links with post attribut
          $('a[post]').click(function() {
            $('<form/>',{'method':'post','action':$(this).attr('post')})
                    .appendTo('body').submit();
          });
        });
      </script>

    </div>
{% include "_footer.html" %}
