{% set title = 'Admin - menu' -%}
{% include "_header.html" -%}
{% include "user/_menu.html" %}

    <div class="container">

      <ul class="nav nav-pills nav-sm">
        <li class="navbar-brand">{{ _('Page menu items list') }}</li>
        <li class="pull-right"><a href="/admin/menu/optimize" title="{{ _('Reorder menu items and store it to backend') }}">{{ _('Optimize menu') }}</a></li>
      </ul>

      <div id="confirm_delete" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <div class="pull-right"><i class="confirm-icon fa fa-question-circle"></i></div>
              <span class="popup-message"></span>
            </div>
            <div class="modal-footer" method="post" action="">
              <input type="hidden" name="token" value="{{ token }}">
              <button type="button" class="btn btn-default" data-dismiss="modal">{{ _("Cancel") }}</button>
              <button type="button" class="btn btn-danger" data-ok="ok">{{ _("Delete") }}</button>
            </div>
          </div> <!-- /.modal-content -->
        </div> <!-- /.modal-dialog -->
      </div> <!-- /.modal -->

      {% include "_popup.html" %}

      <table class="table table-hover" id="page-menu-items">
        <tr>
            <th>#</th>
            <th>{{ _('Title') }}</th>
            <th>{{ _('Link') }}</th>
            <th>{{ _('Locale') }}</th>
            <th>{{ _('Action' )}}</th></tr>
        {% for item in items %}
        <tr md5="{{ item.md5 }}" item="{{ item.id }}" parent="{{ item.parent or '' }}" next="{{ item.next or '' }}" order="{{ item.order }}">
            <td>{{ item.id }}</td>
            <td level="{{ item.level }}">{{ item.title|e }}</td>
            <td>{{ item.link|e }}</td>
            <td>{{ item.locale|e }}</td>
            <td>
            {% if (item.parent) %}
                <span put="/admin/menu/{{ item.id }}/to_parent" class="btn-link">&laquo;&laquo;</span>
            {% else %}
                <span class="btn-link disabled">&laquo;&laquo;</span>
            {% endif%}
              / <span insert="{{ item.id }}" class="btn-link">{{ _('Insert') }}</span>
              / <span edit="/admin/menu/{{ item.id }}" class="btn-link">{{ _('Edit') }}</span>
              / <span delete="/admin/menu/{{ item.id }}/delete" data="{{ item.title }}" class="btn-link">{{ _('Delete') }}</span>
              / <span put="/admin/menu/{{ item.id }}/to_child" class="btn-link">&raquo;&raquo;</span>
            </td></tr>
        {% endfor %}
      </table>

      <script src="/js/i18n.js"></script>
      <script src="/js/page_menu.js"></script>
      <script>
          M.page_menu.token = '{{ token }}';
          $.extend(M.locales, {
              'Insert'  :   "{{ _('Insert') }}",
              'Edit'    :   "{{ _('Edit') }}",
              'Delete'  :   "{{ _('Delete') }}",
              mpm_sure_delete:  "{{ _('Are you sure to `delete\' %s item ?') }}",
              empty_title:  "{{ _('Empty title') }}",
              title_exist:  "{{ _('Title exist yet') }}",
              not_possible: "{{ _('This operation is not possible.') }}"
          });
      </script>

    </div>
{% include "_footer.html" %}
