{% if site.this == '/admin/pages/add' -%}
    {% set title = 'Admin - edit page ' + page.name -%}
{% else -%}
    {% set title = 'Admin - new page' -%}
{% endif -%}
{% include "_header.html" -%}
{% include "user/_menu.html" %}

    <script src="/js/rights.js"></script>
    <script src="/js/hiddener.js"></script>

    <div class="container">
      <ul class="nav nav-pills nav-sm">
    {% if site.this == '/admin/pages/add' -%}
        <li class="navbar-brand">{{ _('New page') }}</li>
    {% else -%}
        <li class="navbar-brand">{{ _('Edit page') }} <small class="monospace">{{ page.name }}</small></li>
      {% if match_right(('pages_author', 'pages_modify')) -%}
        <li class="pull-right"><a href="/admin/pages/add">{{ _('New page') }}</a></li>
      {% endif -%}
    {% endif -%}
      {% if match_right(('pages_author', 'pages_modify')) -%}
        <li class="pull-right"><a href="/admin/pages">{{ _('Pages list') }}</a></li>
      {% endif -%}
      </ul>

      <form class="form-horizontal" role="form" method="post">
       <div id="page_panel">
        <div class="form-group">
          <label for="input_filename" class="col-sm-2 control-label">{{ _('File name') }}</label>
          <div class="col-sm-5 {{ 'has-error' if error is defined else '' }}">
            <input type="text" id="input_filename" name="name" class="form-control" placeholder="{{ _('File name on server') }}" value="{{ (page.name or '')|e }}">
            <div class="help-inline" >{% include "admin/_pages_error.html" %}</div>
          </div>

          <label for="input_locale" class="col-sm-1 control-label">{{ _('Locale') }}</label>
          <div class="col-sm-3">
            <input type="text" id="input_locale" name="locale" class="form-control" placeholder="{{ _('Locale') }}" value="{{ (page.locale or '')|e }}">
          </div>
        </div>

        <div class="form-group">
            <label class="col-sm-1 control-label">{{ _('Rights') }}</label>
            <label style="text-align: center;" class="col-sm-5 control-label">{{ _('Possilbe rights') }}</label>
            <label style="text-align: center;" class="col-sm-5 control-label">{{ _('Attache rights') }}</label>
        </div>
        <div class="form-group">
          <div id="possible_rights" class="col-sm-5 col-sm-offset-1">
          {% for right in rights|sort if right not in page.rights -%}
            <a class="col-sm-5 btn btn-default btn-add" value="{{ right }}">
              <span class="pull-left">{{ right }}</span>
              <i class="pull-right fa"></i></a>
            <div class="col-sm-1"></div>
          {% endfor %}
          </div>
          <div id="attache_rights" class="col-sm-5">    
          {% for right in page.rights|sort -%}
            <a class="col-sm-5 btn btn-default btn-remove" value="{{ right }}">
              <span class="pull-left">{{ right }}</span>
              <i class="pull-right fa"></i></a>
            <div class="col-sm-1"></div>
            <input type="hidden" value="{{right|e}}" name="rights">
          {% endfor %}
          </div>
        </div>
       </div><!-- hiddener -->

        <div class="form-group">
          <label for="input_title" class="col-sm-1 control-label">{{ _('Title') }}</label>
          <div class="col-sm-8">
            <input type="text" id="input_title" name="title" class="form-control" placeholder="{{ _('Title') }}" value="{{ (page.title or '')|e }}">
          </div>

          <div class="col-sm-1"><a class="swittcher pull-right" elm="page_panel"><i class="fa -chevron-up"></i></a></div>
          <div class="col-sm-2"><button class="btn btn-default btn-block pull-right" type="submit">{{ _('Save') }}</button></div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            {% set wysiwyg = dict(header = True, code = True, justify = True, list = True, ident = True) %}
            {% include "_wysiwyg.html" %}
            <textarea id="input_text" data-source="#editor" name="text" class="form-control" rows="18">{{ (page.text or '')|e }}</textarea></div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <button class="col-sm-2 btn btn-default pull-right" type="submit">{{ _('Save') }}</button></div></div>
      </form>
  {% set attachments_object_type = 'page' %}
  {% set attachments_object_id = page.id %}
  {% include "admin/_attachments_upload.html" %}

    </div>
  {% if site.this != '/admin/pages/add' -%}
    <script>
        var btn = $('.swittcher');
        M.hiddener.close(btn, 0);
    </script>
  {% endif -%}

{% include "_footer.html" %}
