{% if site.this == '/admin/page/add' -%}
    {% set title = 'Admin - edit page ' + page.name -%}
{% else -%}
    {% set title = 'Admin - new page' -%}
{% endif -%}
{% include "_header.html" -%}
{% include "admin/_menu.html" %}

    <div class="container">
    {% if site.this == '/admin/page/add' -%}
      <h2 class="form-signin-heading">{{ _('New page') }}
    {% else -%}
      <h2 class="form-signin-heading">{{ _('Edit page') }}
        <span class="btn btn-default pull-right"><a href="/admin/page/add">{{ _('New page') }}</a></span>
    {% endif -%}
        <span class="btn btn-default pull-right"><a href="/admin/page">{{ _('Page list') }}</a></span>
      </h2>
      <form class="form-horizontal" role="form" method="post">
        <div class="form-group">
          <label for="input_filename" class="col-sm-1 control-label">{{ _('File name') }}</label>
          <div class="col-sm-4 {{ 'has-error' if error is defined else '' }}">
            <input type="text" id="input_filename" name="name" class="form-control" placeholder="{{ _('File name on server') }}" value="{{ page.name or '' }}">
            <div class="help-inline" >{% include "admin/_page_error.html" %}</div>
          </div>

          <label for="input_locale" class="col-sm-1 control-label">{{ _('Locale') }}</label>
          <div class="col-sm-3">
            <input type="text" id="input_locale" name="locale" class="form-control" placeholder="{{ _('Locale') }}" value="{{ page.locale or '' }}">
          </div>
        </div>
        <div class="form-group">
          <label for="input_title" class="col-sm-1 control-label">{{ _('Title') }}</label>
          <div class="col-sm-8">
            <input type="text" id="input_title" name="title" class="form-control" style="max-wi-dth: 500px;" placeholder="{{ _('Title') }}" value="{{ page.title or '' }}">
          </div>
        
          <div class="col-sm-3"><button class="btn btn-default btn-block pull-right" type="submit">{{ _('Save') }}</button></div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <textarea id="input_text" name="text" class="form-control" rows="18">{{ page.text or '' }}</textarea></div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <button class="col-sm-2 btn btn-default pull-right" type="submit">{{ _('Save') }}</button></div></div>
      </form>
    </div>

{% include "_footer.html" %}
