{% set title = 'Admin - pages' -%}
{% include "_header.html" -%}
{% include "user/_menu.html" %}

    <div class="container">
      
      <ul class="nav nav-pills">
        <li class="navbar-brand">{{ _('Pages list') }}</li>
      {% if match_right(('pages_author', 'pages_modify')) -%}
        <li class="pull-right"><a href="/admin/pages/add">{{ _('New page') }}</a></li>
      {% endif -%}
      {% if check_right('pages_modify') -%}
        <li class="pull-right"><a href="#" post="/admin/pages/all/regenerate">{{ _('Regenerate all') }}</a></li>
      {% endif -%}
      </ul>

    {%- if error is defined and error == 1001 -%}
      <div class="alert alert-danger">{{ _('Access denied') }}</div>
    {%- endif %}
    {%- if error is defined and error == 2000 -%}
      <div class="alert alert-info">{{ _('Operation success') }}</div>
    {%- endif %}

      <div id="sure_delete" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <h3 id="sure_delete_label"></h3>
            </div>
            <form class="modal-footer" method="post" action="">
              <button type="button" class="btn btn-default" data-dismiss="modal">{{ _("Cancel") }}</button>
              <button type="submit" class="btn btn-danger">{{ _("Delete") }}</button>
            </form>
          </div> <!-- /.modal-content -->
        </div> <!-- /.modal-dialog -->
      </div> <!-- /.modal -->

      <table class="table table-hover">
        <tr><th>{{ _('File name') }}</th>
            <th>{{ _('Title') }}</th>
            <th>{{ _('Locale') }}</th>
            <th>{{ _('Last modify') }}</th>
            <th>{{ _('Action' )}}</th></tr>
        {% for page in rows %}
        <tr><td><a href="/{{page.name}}">{{ page.name }}</a></td>
            <td>{{ page.title }}</td>
            <td>{{ page.locale }}</td>
            <td>{{ page.modify.strftime("%H:%M %d.%m.%Y") }}</td>
            <td>
            {% if check_right('pages_modify') or (check_right('pages_author') and page.author_id == login.id) or (length(page.rights) and match_right(page.rights)) -%}
              <a href="/admin/pages/{{ page.id }}">{{ _('Edit') }}</a>
            {% endif -%}
            {% if check_right('pages_modify') or (check_right('pages_author') and page.author_id == login.id) %}
              / <a href="#" delete="/admin/pages/{{ page.id }}/delete" name="{{ page.name }}">{{ _('Delete') }}</a>
            {% endif -%}
            </td></tr>
        {% endfor %}
      </table>
{% include "_pager.html" %}

      <script>
        $(document).ready(function() {
          // send form after click to links with delete attribut
          $('a[delete]').click(function() {
            $('#sure_delete > > > > h3').text("{{ _('Are you sure to delete %s page ?') }}".replace("%s", $(this).attr('name')));
            $('#sure_delete > > > form').attr('action', $(this).attr('delete'));
            $('#sure_delete').modal('toggle');
          });
        });

        $(document).ready(function() {
          // send form after click to links with post attribut
          $('a[post]').click(function() {
            $('<form/>',{'method':'post','action':$(this).attr('post')}).submit();
          });
        });
      </script>

    </div>
{% include "_footer.html" %}
