{% set title = 'Admin - new page' -%}
{% include "_header.html" -%}
{% include "admin/_page_menu.html" %}

    <div class="container">
      <h2 class="form-signin-heading">{{ _('New page') }}</h2>
      <form class="form" role="form" method="post">
        <div class="form-group has-error">
          <label for="input_filename" class="control-label">{{ _('File name') }}</label>
          <input type="url" class="form-control" id="input_filename" style="max-wi-dth: 400px;" placeholder="{{ _('File name on server') }}" value="{{ data.filename or '' }}">
          <div class="help-inline" >{{ data.error if data.error is defined else '&nbsp;' }}</div>
        </div>

        <div class="form-group has-error">
          <label for="input_text" class="control-label">{{ _('Page text') }}</label>
          <textarea class="form-control" rows="20">{{ data.text or '' }}</textarea>
        </div>
        
        <button class="btn btn-lg btn-default" type="submit">{{ _('Save') }}</button>
      </form>
    </div>  

{% include "_footer.html" %}
