{#- vim: tabstop=2 softtabstop=2 expandtab
#}
<div class="discussion">
  <a name="discussion"></a><h4>{{ _('Discussion') }}</h4>
{% for comment in discussion %}
  <div itemprop="comment">
    <a name="comment_{{ comment.id }}"></a>
    <h5>{{ comment.title|e }}</h5>
    <div class="pull-left">{{ _('Author') }}: {{ comment.author|e }}</div>
    <div class="pull-right">{{ _('Date') }}: {{ comment.create_date.strftime("%H:%M %d.%m.%Y") }}</div>
    <div class="clear">{{ comment.body|e|replace('\n', '<br>\n') }}</div>
  </div>
{% endfor %}
{% if not error %}
  {% set comment_author = login.email.split('@')[0] if login else '' %}
{% else %}
  {% set comment_author = error.comment.author %}
{% endif %}
  <a name="new_comment"></a>
  <h5>{{ _('Your comment') }}:</h5>
  <form role="form" method="post" action="{{ discussion_comment_link }}">
    <input type="hidden" name="article_id" value="{{ discussion_object_id }}">
    <div class="form-group col-sm-4 padding0 {{ 'has-error' if error is defined and error.reason == 'empty_author' }}">
      <input type="text" class="form-control" name="author" required="required" placeholder="{{ _('Your name') }}" value="{{ comment_author|e }}">
    </div>
    <div class="col-sm-1 padding0"></div>
    <div class="form-group col-sm-7 padding0 {{ 'has-error' if error is defined and error.reason == 'empty_title' }}">
      <input type="text" class="form-control" name="title" required="required" placeholder="{{ _('Title') }}" value="{{ error.comment.title|e if error else '' }}">
    </div>
    <div class="form-group {{ 'has-error' if error is defined and error.reason == 'empty_body' }}">
      <textarea class="form-control" name="body" rows="3" required="required" placeholder="{{ _('Your comment') }}" value="{{ error.comment.body|e if error else '' }}"></textarea>
    </div>
    <div class="form-group pull-right">
      <button class="btn btn-default" type="submit">{{ _('Append comment') }}</button>
    <div>
  </form>
</div>
