            {% set name = editor.get('name', 'editor') if editor is defined else 'editor' %}
            <div class="btn-toolbar" data-role="editor-toolbar" data-target="#{{ name }}" style="display: none;">
              <div class="btn-group onformated">
                <a class="btn btn-default" cmd="source" title="{{ _('Show source code') }}"><i class="fa fa-file-code-o"></i></a>
              </div>
              <div class="btn-group onformated">
                <a class="btn btn-default" data-edit="bold" title="{{ _('Bold (Ctrl/Cmd+B)') }}"><i class="fa fa-bold"></i></a>
                <a class="btn btn-default" data-edit="italic" title="{{ _('Italic (Ctrl/Cmd+I)') }}"><i class="fa fa-italic"></i></a>
                <a class="btn btn-default" data-edit="strikethrough" title="{{ _('Strikethrough') }}"><i class="fa fa-strikethrough"></i></a>
                <a class="btn btn-default" data-edit="underline" title="{{ _('Underline (Ctrl/Cmd+U)') }}"><i class="fa fa-underline"></i></a>
              </div>
              <div class="btn-group onformated">
              {% if editor is defined and editor.get('list') == True %}
                <a class="btn btn-default" data-edit="insertunorderedlist" title="{{ _('Bullet list') }}"><i class="fa fa-list-ul"></i></a>
                <a class="btn btn-default" data-edit="insertorderedlist" title="{{ _('Number list') }}"><i class="fa fa-list-ol"></i></a>
              {% endif -%}
              {% if editor is defined and editor.get('ident') == True %}
                <a class="btn btn-default" data-edit="indent" title="Reduce indent (Shift+Tab)"><i class="fa fa-indent"></i></a>
                <a class="btn btn-default" data-edit="outdent" title="Indent (Tab)"><i class="fa fa-outdent"></i></a>
              {% endif -%}
              </div>
              <div class="btn-group onformated">
              {% if editor is defined and editor.get('header') == True %}
                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="{{ _('Header') }}"><i class="fa fa-header"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a class="btn btn-default" data-edit="formatBlock h1" title="{{ _('Header 2') }}"><h1 style="margin: 0;">Header 1</h1></a></li>
                  <li><a class="btn btn-default" data-edit="formatBlock h2" title="{{ _('Header 2') }}"><h2 style="margin: 0;">Header 2</h2></a></li>
                  <li><a class="btn btn-default" data-edit="formatBlock h3" title="{{ _('Header 3') }}"><h3 style="margin: 0;">Header 3</h3></a></li>
                  <li><a class="btn btn-default" data-edit="formatBlock h4" title="{{ _('Header 4') }}"><h4 style="margin: 0;">Header 4</h4></a></li>
                  <li><a class="btn btn-default" data-edit="formatBlock h5" title="{{ _('Header 5') }}"><h5 style="margin: 0;">Header 5</h5></a></li>
                  <li><a class="btn btn-default" data-edit="formatBlock h6" title="{{ _('Header 6') }}"><h6 style="margin: 0;">Header 6</h6></a></li>
                </ul>
              {% endif -%}
              {% if editor is defined and editor.get('code') == True %}
                <a class="btn btn-default" data-edit="formatBlock pre" title="{{ _('Code') }}"><i class="fa fa-code"></i></a>
              {% endif -%}
              {% if editor is defined and (editor.get('header') == True or editor.get('code') == True) %}
                <a class="btn btn-default" data-edit="formatBlock div" title="{{ _('Normal Blok') }}"><i class="fa fa-bars"></i></a>  
              {% endif -%}
              </div>
              {% if editor is defined and editor.get('justify') == True %}
              <div class="btn-group onformated">
                <a class="btn btn-default" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
                <a class="btn btn-default" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
                <a class="btn btn-default" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
                <a class="btn btn-default" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
              </div>
              {% endif -%}
              <div class="btn-group onformated">
                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="{{ _('Hyperlink') }}"><i class="fa fa-link"></i></a>
                <div class="dropdown-menu" role="menu">
                  <div class="input-group">
                  <input class="form-control" placeholder="URL" type="text" data-edit="createLink"/>
                  <span class="input-group-btn"><button class="btn btn-default" type="button">Add</button></span>
                  </div>
                </div>
                <a class="btn btn-default" data-edit="unlink" title="{{ _('Remove Hyperlink') }}"><i class="fa fa-unlink"></i></a>
              </div>
              <div class="btn-group onformated">
                <a class="btn btn-default" data-edit="undo" title="{{ _('Undo (Ctrl/Cmd+Z)') }}"><i class="fa fa-undo"></i></a>
                <a class="btn btn-default" data-edit="redo" title="{{ _('Redo (Ctrl/Cmd+Y)') }}"><i class="fa fa-repeat"></i></a>
                <a class="btn btn-default" data-edit="removeformat" title="{{ _('Remove formating') }}"><i class="fa fa-eraser"></i></a>
              </div>
              <div class="onsource" style="display:none;">
                <a class="btn btn-default" cmd="formated" title="{{ _('Show formated text') }}"><i class="fa fa-file-word-o"></i></a>
              </div>
            </div><!-- / btn toolbar -->
            <div class="form-control" style="display:none;" id="{{ name }}"></div>

            <script src="/js/jquery.hotkeys.js"></script>
            <script src="/js/bootstrap-wysiwyg.js"></script>
            <script src="/js/docutils-editor.js"></script>
            <script>
              $('link[rel=stylesheet]').append($('<link/>',{'href':'/css/bootstrap-wysiwyg.css','rel':'stylesheet'}));

              $(document).ready(function() {
                $('a[title]').tooltip({container:'body'});
                $('.dropdown-menu input')
                  .click(function() {return false;})
                  .change(function () {$(this).parent('.dropdown-menu')
                  .siblings('.dropdown-toggle').dropdown('toggle');})
                  .keydown('esc', function () {this.value='';$(this).change();});

                WysiwygEditor = function(name){
                    this.$wysiwyg = $('#'+ name);
                    this.$source = $('textarea[data-source=#'+name+']');
                    this.$btns_onformated = $('div[data-target=#'+name+']').find('div.onformated');
                    this.$btns_onsource = $('div[data-target=#'+name+']').find('div.onsource');
                    this.$toolbar = $('[data-role=editor-toolbar][data-target=#'+name+']');

                    this.init(name);
                }

                WysiwygEditor.prototype.init = function(name){
                    this.$toolbar.css('display', 'block');
                    this.$source.css('resize', 'none');
                    this.$wysiwyg.css('height', this.$source.css('height'));
                    this.$wysiwyg.html(this.$source.val());
                    this.$source.css('display', 'none');
                    this.$wysiwyg.css('display', 'block');

                    $(this.$source[0].form).submit(function(){
                        // update textarea before sending
                        if (this.$source.css('display') == 'none')
                            this.$source.val(this.$wysiwyg.cleanHtml());
                    }.bind(this));

                    this.$wysiwyg.wysiwyg({'toolbarSelector':
                                           '[data-role=editor-toolbar][data-target=#'+name+']'});

                    $('div[data-target=#'+name+']')
                        .find('a[cmd=source]').click(this.source.bind(this));
                    $('div[data-target=#'+name+']')
                        .find('a[cmd=formated]').click(this.editor.bind(this));
                }

                WysiwygEditor.prototype.source = function(){
                    this.$source.val(this.$wysiwyg.cleanHtml())
                    this.$source.css('display', 'block');
                    this.$wysiwyg.css('display', 'none');
                    this.$btns_onsource.css('display', 'block');
                    this.$btns_onformated.css('display', 'none');
                }

                WysiwygEditor.prototype.editor = function(){
                    this.$wysiwyg.html(this.$source.val());
                    this.$source.css('display','none');
                    this.$wysiwyg.css('display', 'block');
                    this.$btns_onsource.css('display', 'none');
                    this.$btns_onformated.css('display', 'block');
                }

                var format = '{{ editor.get("format", "html") if editor is defined else "html" }}';
                if (format == 'html') {
                    editor = new WysiwygEditor('{{ name }}');
                } else if (format == 'rst') {
                    console.log('you are use rst');
                    var check_url = '{{ editor.get("rst_check_url", "/admin/rst") if editor is defined else "/admin/rst" }}';
                    editor = new DocutilsEditor('textarea[data-source=#{{ name }}]',
                                                check_url);
                } else {
                    console.error('Unknow editor format: '+ format);
                }
              });
            </script>
