{% set title = _('Sign in') -%}
{% include "_header.html" %}

    <div class="container">
      <form class="form-signin" method="post">
      {% if data.error is defined and data.error == 1000 %}
        <div class="alert alert-danger">{{ _('Bad login email or password') }}</div>
      {% elif data.error is defined and data.error == 1001 %}
        <div class="alert alert-danger">{{ _('Your login is banned') }}</div>
      {% endif %}
        <h2 class="form-signin-heading">{{ _('Please sign in') }}</h2>
        <input name="email" type="text" class="form-control" placeholder="{{ _('Email address') }}" value="{{ data.email|e }}" autofocus>
        <input name="passwd" type="password" class="form-control" placeholder="{{ _('Password') }}">
        <label class="checkbox">
          <input type="checkbox" value="ip"> {{ _('Check IP') }}
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">{{ _('Sign in') }}</button>
      </form>
    </div>

{% include "_footer.html" %}
