{# vim:set softtabstop=2: -#}
{% set title = _('Log in') -%}
{% include "_header.html" %}
{% set nobreadcrumb = True %}
{% include "user/_menu.html" %} {#- could be "_menu_" + page.lang + ".html" #}

    <div class="container">
      <h1 class="login-header">{{ _('Log in please') }}</h1>
      <form class="login-form form-horizontal col-md-5 col-md-offset-1" role="form" method="post">

        <div class="form-group">
          <input name="email" type="text" class="form-control input-lg" placeholder="{{ _('Email address') }}" value="{{ data.email|e }}" autofocus>
        </div>
        <div class="form-group">
          <input name="passwd" type="password" class="form-control input-lg" placeholder="{{ _('Password') }}">
        </div>

      {%- if data.error is defined %}
        <div class="form-group has-error">
        {%- if data.error == 1000 %}
          <div class="help-block">{{ _('Bad login email or password') }}</div>
        {%- elif data.error == 1001 %}
          <div class="help-block">{{ _('Your login is banned') }}</div>
        {%- endif %}
        </div>
      {%- endif %}

        <div class="form-group">
          <div class="checkbox">
            <label class="input-lg">
              <input type="checkbox" value="ip"> {{ _('Check IP') }}
            </label>
          </div>
        </div>

        <div class="form-group checkbox">
          <button class="btn btn-lg btn-primary col-sm-5" type="submit">{{ _('Log in') }}</button>
        {% if password_link %}
          <a class="col-sm-6 col-sm-off-set-1 btn btn-lg pull-right" href="/login/forgotten_password">{{ _('I forgot my password') }}</a>
        {% endif %}
        </div>
      </form>

      <div class="col-md-5 col-md-offset-1">
      {#- place for some addional info #}
      {% if sign_up %}
        <div class="row">
          <p class="lead">
          {%- trans %}
            Don't have login yet ? Try it free!
          {%- endtrans  %}
          </p>
          <a class="btn btn-lg btn-default col-sm-5" href="/sign_up">{{ _('Sign Up') }}</a>
        </div>
      {% endif %}
      </div>

    </div>

{% include "_footer.html" %}
