{% set title = _('News') -%}
{% include "_header.html" -%}
{% include "user/_menu.html" -%}

    <div class="container">
      <h1>{{ _('News list') }}</h1>

   {%- if error is defined and error == 1002 -%}
     <div class="alert alert-danger">{{ _('Not found') }}</div>
   {%- endif -%}

      {% for new in rows -%}
      <div>
        <h3><a href="/news/{{new.id}}">{{ new.title }}</a></h3>
        <div class="pull-right"><small>{{ new.create_date.strftime("%H:%M %d.%m.%Y") }}</small></div>
        <div>{{ new.body }}</div>
      </div>
      {% endfor -%}
{% include "_pager.html" %}

    </div>
{% include "_footer.html" %}
