{# vim:set softtabstop=2: -#}
{% set title = 'User eShop orders' -%}
{% include "_header.html" -%}
{% include "user/_menu.html" %}
{% set states = { 0: _('Storned'),
                  1: _('Accept'),
                  2: _('Proccess'),
                  3: _('Sent'),
                  4: _('Closed'),
                  10: _('Wait for paid'),
                  11: _('Wait for pick up') }
%}

    <div class="container">
      <ul class="nav nav-pills nav-sm">
        <li class="navbar-brand">{{ _('Order') }} {{ order.id }}</li>
      {% if not sha %}
        <li class="pull-right"><a href="/eshop/orders">{{ _('Orders list') }}</a></li>
      {% endif %}
      </ul>

      <div class="row">
        <div  class="col-md-6" itemprop="adr">
          <h4>{{ _('Billing Address') }}:</h4>
          {%- set addr = order.data.billing_address %}
          <h3>{{ addr.get('name','')|e }}</h3>
          <div itemprop="street-address">{{ addr.get('address1','')|e }}</div>
          <div itemprop="street-address">{{ addr.get('address2','')|e }}</div>
          <div itemprop="locality">{{ addr.get('city','')|e }}</div>
        {%- if cfg.addresses_region %}
          <div itemprop="region">{{ addr.get('region','')|e }}</div>
        {%- endif %}
          <div itemprop="postal-code">{{ addr.get('zip','')|e }}</div>
        {%- if cfg.addresses_country %}
          <div itemprop="country-name">{{ addr.get('country','')|e }}</div>
        {%- endif %}
        </div>

        <div class="col-md-6" itemprop="adr">
          <h4>{{ _('Shipping Address') }}:</h4>
          {%- set addr = order.data.shipping_address %}
          <h3>{{ addr.get('name','')|e }}</h3>
          <div itemprop="street-address">{{ addr.get('address1','')|e }}</div>
          <div itemprop="street-address">{{ addr.get('address2','')|e }}</div>
          <div itemprop="locality">{{ addr.get('city','')|e }}</div>
        {%- if cfg.addresses_region %}
          <div itemprop="region">{{ addr.get('region','')|e }}</div>
        {%- endif %}
          <div itemprop="postal-code">{{ addr.get('zip','')|e }}</div>
        {%- if cfg.addresses_country %}
          <div itemprop="country-name">{{ addr.get('country','')|e }}</div>
        {%- endif %}
        </div>
      </div>{# /row #}

      <div class="row">
        <div class="col-md-12">
          <h4>{{ _('Send order status to') }}:</h4>
          <h3 class="padding15">{{ order.email }} </h3>
        </div>
      </div>{# /row #}

      {% from "eshop/_tp_methods.jinja" import tp -%}

      <div class="row">
        <div class="col-md-12">
          <h4>{{ _('Ordered items') }}</h4>
          <table class="table table-hover" role="order-items">
            <tr><th>#</th>
                <th>{{ _('Name') }}</th>
                <th class="price">{{ _('Price') }}</th>
                <th class="count col-md-1">{{ _('Count') }}</th>
                <th class="summary">{{ _('Summary' )}}</th>
            </tr>
          {% for item_id, item in order.items %}
            <tr><td>{{ item_id }}</td>
                <td>{{ item.name }}</td>
                <td class="price">{{ item.price }} {{cfg.eshop_currency}}</td>
                <td class="count">{{ item.count }}</td>
                <td class="price">{{ item.summary }} {{cfg.eshop_currency}}</td>
            </tr>
          {% endfor %}
            <tr class="active summary"><td></td>
                <td>{{ _('Summary') }}</td>
                <td></td>
                <td class="count">{{ order.count }}</td>
                <td class="summary">{{ order.summary }} {{cfg.eshop_currency}}</td>
            </tr>
            <tr><td></td>
                <td>{{ tp.get('transportation_by_' + order.data.transportation[0], 'transportation_by_' + order.data.transportation[0]) }}</td>
                <td></td>
                <td></td>
                <td class="price">{{ order.data.transportation[1] }} {{cfg.eshop_currency}}</td>
            </tr>
            <tr><td></td>
                <td>{{ tp.get('payment_by_' + order.data.payment[0], 'payment_by_' + order.data.payment[0]) }}</td>
                <td></td>
                <td></td>
                <td class="price">{{ order.data.payment[1] }} {{cfg.eshop_currency}}</td>
            </tr>
            <tr class="active summary"><td></td>
                <td>{{ _('Total') }}</td>
                <td></td>
                <td></td>
                <td class="summary">{{ order.total }} {{cfg.eshop_currency}}</td>
            </tr>
          </table>
        </div>
      </div>{# /row #}

      <div class="row eshop-order-history">
        <h4>{{ _('History') }}</h4>
        <div class="col-md-2"><b>{{ _('Change time') }}</b></div>
        <div class="col-md-10">
          <div class="col-md-6"><b>{{ _('Old value') }}</b></div>
          <div class="col-md-6"><b>{{ _('New value') }}</b></div>
        </div>{# /col-md-2 #}
      {%- for it in order.history %}
        <div class="col-md-12"></div>
        <div class="col-md-2">{{ datetime(it[0]).strftime("%H:%M %d.%m.%Y") }}</div>
        <div class="col-md-10">
        {%- for record in it[1] %}
          {%- if number(record[0]) and number(record[1]) %}
          <div class="col-md-6">{{ states[record[0]] }}</div>
          <div class="col-md-6">{{ states[record[1]] }}</div>
          {%- else %}
            {%- if record[0] == "note" %}
          <div class="col-md-6">{{ _('Note') }}:</div>
            {%- elif record[0] == "usernote" %}
          <div class="col-md-6">{{ _('Note from client') }}:</div>
            {%- else %}
          <div class="col-md-6">{{ record[0] }}</div>
            {%- endif %}
          <div class="col-md-6">{{ record[1] }}</div>
          {%- endif %}
        {%- endfor %}
        </div>{# /col-md-2 #}
      {%- endfor %}
      </div>{# /row #}

      <div class="row">
        <h3>{{ _('State is:') }} {{ states[order.state] }}</h3>
      {%- if not sha and order.state in (1,2,3,10,11) %}
        <form method="post" action="/eshop/orders/{{ order.id }}/storno">
          <input name="message" type="text" class="form-control" placeholder="{{ _('Message from you') }}">
          <button type="submit" class="btn btn-danger pull-right">{{ _('Please storno order') }}</button>
        </form>
      {%- endif %}
      </div>

    </div>

{% include "_footer.html" %}

