{# vim:set softtabstop=2: -#}
{% if site.this == '/login' -%}
    {% set title = _('Login edit') -%}
{% else -%}
    {% set title = _('Sign up') -%}
{% endif -%}
{% include "_header.html" %}
{% include "user/_menu.html" -%}
{% from "login/_error_message.html" import error_message %}

    <div class="container">
    {% if site.this == '/login' -%}
      <h1>{{ _('Login edit') }}</h1>
    {% else -%}
      <h1>{{ _('Sign up') }}</h1>
    {% endif -%}

    {% if state is defined and state is mask 64 -%}
      <div class="alert alert-info">{{ _('Password was set!') }}</div>
    {% endif -%}

      <form class="form-horizontal form-sign-up" role="form" method="post">
        <input type="hidden" name="token" value="{{ token }}">
        <div class="col-md-6">
          {% if site.this == '/sign_up' %}
          <div class="sign-up-margin"></div>
          {% endif %}

          <div class="form-group {{ 'has-error' if error is defined and error is mask 1+8 else '' }}">
            <label for="input_email" class="col-sm-5 control-label">{{ _('Email') }}</label>
            <div class="col-sm-6">
              <input type="email" id="input_email" name="email" class="form-control" placeholder="{{ _('Email') }}" value="{{ (item.email or '')|e }}">
            </div>
        {% if error is defined and error is mask 1+8 %}
            <div class="col-sm-6 col-sm-offset-5 help-block" >{{ error_message(error, 1) }}{{ error_message(error, 8) }}</div>
          {% if site.this == '/sign_up' and error is mask 8 %}
            <div class="col-sm-6 col-sm-offset-5 help-block" >
          {% if password_link %}
            {%- trans email=item.email %}
              May be, you <a href="/login/forgotten_password">forgot your password</a>.
            {%- endtrans %}
          {% endif %}
            </div>
          {% endif %}
        {% endif %}
          </div>

        {% if site.this == '/sign_up' %}
          <div class="form-group shadow {{ 'has-error' if 'robot' in form else '' }}">
            <div class="col-sm-offset-5 col-sm-6">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="robot" value="robot" {{'checked="checked"' if 'robot' in form else '' }}>
                  {{ _("Yes, I'm robot.") }}
                </label>
              </div>
            </div>
          {% if 'robot' in form -%}
            <div class="col-sm-6 col-sm-offset-5 help-block">{{ _("Robots can't send the form.") }}</div>
          {% endif %}
          </div>

          <div class="form-group shadow {{ 'has-error' if check is defined and not check else '' }}">
            <label for="input_answer" class="col-sm-5 control-label">{{ question }}</label>
            <input type="hidden" name="qid" value="{{ qid or '' }}">
            <div class="col-sm-6">
              <input id="input_answer" name="answer" type="text" class="form-control" placeholder="{{ question }}" value="{{ form.get('answer', '')|e }}">
            </div>
            {% if check is defined and not check %}
              <div class="col-sm-6 col-sm-offset-5 help-block">{{ _('Your anser is not correct.')}}</div>
            {% endif %}
          </div>

          <script>
            function chr(o) {
              return String.fromCharCode(o);
            }

            $(document).ready(function() {
            $('#input_answer')[0].value = '' {% for c in answer %}+chr({{ ord(c) }}){% endfor %};
            $('.shadow').hide();
          });
          </script>
        {% endif %}

         <div class="form-group">
            <label for="input_name" class="col-sm-5 control-label">{{ _('Name') }}</label>
            <div class="col-sm-6">
              <input type="text" id="input_name" name="name" class="form-control" placeholder="{{ _('Name') }}" value="{{ (item.name or '')|e }}">
            </div>
          </div>

          <div class="form-group {{ 'has-error' if error is defined and error is mask 2 else '' }}">
            <label for="input_passwd" class="col-sm-5 control-label">{{ _('Password') }}</label>
            <div class="col-sm-6">
              <input type="password" id="input_passwd" name="passwd" class="form-control" placeholder="{{ _('Password') }}">
            </div>
          {% if error is defined and error is mask 2 %}
            <div class="col-sm-6 col-sm-offset-5 help-block">{{ error_message(error, 2) }}</div>
          {% endif %}
          {% if site.this == '/user/login' %}
            <div class="col-sm-6 col-sm-offset-5 help-block">{{ _('Fill it only, if you want to change.') }}</div>
          {% endif %}
          </div>

          <div class="form-group {{ 'has-error' if error is defined and error is mask 4 else '' }}">
            <label for="input_again" class="col-sm-5 control-label">{{ _('Password again') }}</label>
            <div class="col-sm-6">
              <input type="password" id="input_again" name="again" class="form-control" placeholder="{{ _('Password again') }}">
            </div>
          {% if error is defined and error is mask 4 %}
            <div class="col-sm-6 col-sm-offset-5 help-block" >{{ error_message(error, 4) }}</div>
          {% endif %}
          </div>

        </div>{# /col-md-6 #}


      {% if site.this == '/sign_up' %}
        <div class="col-md-6">
          <h2>{{ _('Terms and conditions') }}</h2>
          <div class="conditions">
            {{ lipsum(10) }}
          </div>

          <div class="form-group {{ 'has-error' if error is defined and error is mask 32 else '' }}">
            <div class="col-sm-12">
              <div class="checkbox">
                <label class="control-label">
                  <input type="checkbox" name="conditions" value="1" {{ 'checked' if 'conditions' in item.data }}>
                  {{ _('Condition allowed') }}
                </label>
              </div>
            </div>
          {% if error is defined and error is mask 32 %}
            <div class="col-sm-12 help-block" >{{ error_message(error, 32) }}</div>
          {% endif %}
          </div>

        </div>

      {% elif state is defined and state is mask 128 -%}
        <div class="col-md-6">
          <div class="form-group has-success">
            <p class="help-block lead">
            {%- trans email=email%}
              Request for change your login email was accept. We are send you
              email to verify your new email address <b>{{ email }}</b>. There is
              the link to finish this proccess.
            {%- endtrans %}
            </p>

            <p class="help-block lead">
            {%- trans %}
              When you can't find email from us, please wait a few minutes and or
              check your <b>spam</b> folder. If you don't resive email, contact
              us or you can try to change email one more time.
            {%- endtrans %}
            </p>
          </div>
        </div>
      {% endif -%}

        <div class="clearfix"></div>
        <div class="col-md-6">
         <div class="form-group">
           <div class="col-sm-offset-5 col-sm-6">
             <button class="btn btn-default" type="submit">{{ _('Save') if site.this == '/login' else _('Sign up') }}</button>
           </div>
         </div>
        </div>
      </form>
    </div>

{% include "_footer.html" %}
