{%- set states = {  0: _('was storned'),
                    1: _('was accept'),
                    2: _('is in proccess'),
                    3: _('was sent'),
                    4: _('was closed'),
                    10: _('is waiting for paid'),
                    11: _('is waiting for pick up') }
%}
{{ _('Order') }} {{order.id}} {{ states[order.state] }}
