    <nav class="container navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">{{ _('Toggle navigation') }}</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="/">{{ site.name }}</a>
        <span class="navbar-text">Content Management System</span>

      </div>

      <div class="collapse navbar-collapse">
        <ul class="pull-right nav navbar-nav">
        {% for item in menu -%}              {# TODO: tooltip (title) #}
          <li {{ 'class="active"' if site.this == item.uri else '' }}>
                <a href="{{ item.uri }}">{{ item.label }}</a></li>
        {%- endfor -%}
        {% if login is defined and login != none %}
          <li><a href="/logout">{{ _('Logout') }} {{ login.email.split('@')[0] }}</a></li>
        {% else %}
          <li><a href="/login">{{ _('Sign in') }}</a></li>
        {% endif %}
        </ul>
      </div>
    </nav>

    <ol class="breadcrumb container">
      <li><a href="/">{{ site.name }}</a></li>
    {% set full = '/' %}
    {% for uri in site.this.split('/')[1:-1] %}
      <!--li><span class="navbar-text">&raquo;</span></li-->
      <li><a href="{{ full }}{{ uri }}">{{ uri }}</a></li>
    {% set full = full + uri + '/' %}
    {% endfor %}
      <li class="active">{{ site.this.split('/')[-1] }}</li>
    </ol>
