{% set title = '412 ' + _('Precondition Failed') -%}
{% include "_header.html" %}
{% include "user/_menu.html" %}

    <div class="container">
      <div class="jumbotron http-error">
        <h1>{{ title }}</h1>
    {%- if precondition.referer is defined %}
        <p>{{ _("Your request can't be call direct or from another page then") }}
          {{ precondition.referer }}
    {%- elif precondition.origin is defined %}
        <p>{{ _("Your request can't be call direct or from another domain then") }}
          {{ precondition.origin }}
    {%- else %}
        <p>{{ _("Your request can't be call direct.") }}
    {%- endif %}
        </p>
      </div>
    </div>

{% include "_footer.html" %}
